*{
  margin: 0;
  padding:0;
}


html {
  height: 100%;
  font-size: clamp(1rem, 0.96rem + 0.18vw, 1.125rem);
}

body {
  min-height: 100vh;
  background-color: #202124;
  color: rgb(248, 249, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 75vh;
  width:100%;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
}

.card {
  width: 170px;
  height: 200px;
  margin:0.7rem 1.2rem;
  border-radius: 10px;
  border:none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.cards:hover .card{
  opacity: 0.5;
  filter: blur(4px);
}

.cards .card:hover{
  opacity:1;
  filter:blur(0px);
  transform: scale(1.3);
}


.card--one{
  background-color:#bdf2d5c2;
}

.card--two{
  background-color:#4b5d67be;
}

.card--three{
  background-color:#f47c7cc7;
}

.card--four{
  background-color:#FF06B7;
}


.card--five{
  background-color:#990000e3;
}


.card--six{
  background-color:#ff5900e3;
}

.card--seven{
  background-color:#d3d925e3;
}


.card--eight{
  background-color:#5FD068;
}


.card--nine{
  background-color:#fbcb0ad8;
}


.card--ten{
  background-color:#92B4EC;
}

.card--eleven{
  background-color:#7D1E6A;
}


.card--twelve{
  background-color:#9772FB;
}



/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (max-width: 481px) {
  .card{
    width:100px;
    height:100px;
  }
}
